@import "../utilities/variables";

header{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 1px solid gray;
    img{
        width: 8rem;
    }

    nav{
        ul{
            list-style: none;
            display: flex;
            li{
                margin: 5px;
                a{
                    text-decoration: none;
                    color: $color-blanco;
                    font-family: $fuente-principal;
                    transition: 1s;
                    &:hover{
                        margin: 5px;
                        color: yellow;
                    }
                }
            }
        }
    }
    .plataforma{
        display: flex;
        align-items: center;
        img{
            width: 25px;
        }
        a{
            margin-right: 15px;
            text-decoration: none;
            color: $color-blanco;
            font-family: $color-blanco;
        }
    }
}

